RewriteEngine On
Options +FollowSymlinks

RewriteCond %{REQUEST_URI} !^/assets [NC]

# homepage
RewriteRule ^$                  /homepage.php                   [NC,QSA,L]
RewriteRule ^members$           /members.php                   [NC,QSA,L]
